* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.todoContainer {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid brown;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.btn-container{
    margin-top: 20px;
}

.input-container,
.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 80px;
}


ol {
    list-style: none;
    margin: 0 !important; 
    padding: 0 !important;
}

li.checked {
    text-decoration: line-through;
}
